@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --main-color: #1d1d1d;
  --test-color: #7fac51;
  --secondary-color: #47883f;
}

html, body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  height: 100vh;
}
.image {
  width: 40vw;
  background-image: url(andriyko-podilnyk-RCfi7vgJjUY-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 2 1 auto;
  min-width: 332px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.image div {
  width: 100%;
  position: relative;
  bottom: 10vh;
}

.image h1 {
min-width: 100px;
min-height: 4rem;
font-size: 4rem;
text-align: center;
background-color: rgba(0, 0, 0, 0.4);
color: aliceblue;
}

.image p {
  position: absolute;
  bottom: 0;
}

.form {
  background-color: #121212;
  color: aliceblue;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: left;
  flex: 1 2 auto;
}

.data {
background-color: var(--main-color);
box-shadow:0 5px 5px #616161;
display: flex;
flex-flow: row wrap;  
text-align: left;
gap: 20px 5px;
padding-left: 2vw;
padding-bottom: 2vw;
}

.form > h2, .form > h3 {
  padding-left: 2vw;
  margin-right: 10vw;
}

.data > div {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
}

.data input {
  min-width: 222px;
  max-width: 320px;
  appearance: none;
  height: 2rem;
  border: solid;
  border-radius: 5px;
}

.data input:focus {
  outline: 0;
  border-color: var(--secondary-color);

}

.form-title {
  width: 100%;
}

.confirm {
  margin-top: 4vh;
  margin-left: 2vw;
}

.confirm button {
  width: 180px;
  height: 70px;
  font-size: larger;
  font-weight: bold;
  background-color: var(--secondary-color);
  box-shadow: 5px 5px #7fac51;
  border: solid var(--secondary-color) 2px;
  border-radius: 5px;
  margin-bottom: 1vh;
}

.confirm p, .confirm a {
  font-size: large;
}

a {
  text-decoration: none;
}

.confirm a {
  color: var(--secondary-color);
}